{% extends 'card/base.html' %}
{% block title %}
About
{% endblock %}
{% block body %}
<div class="container">
    <!--
    <center><img src='/static/IMG_6581.jpg'  alt='Logo' width="400" height="400""></center>
    -->
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Adarsh Prints</h1>
    <p class="lead">Manufacturing of  exclusive fancy print cotton sarees!</p>

  </div>
</div>
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md text-center">
        <img class="mb-2" src="/static/adarsh_logo.jpeg" alt="" width="250" height="100">
        <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>
      </div>
    </div>
  </footer>
{% endblock body %}


