{% extends 'card/base.html' %}
{% block title %}
Shreeji
{% endblock %}
{% block body %}
<div class="jumbotron jumbotron-fluid py-3">

  <div class="container mx-0">
    <h4 class="display-4" >Shreeji Cotton</h4>
    <p class="lead">Printed daily wear Banarasi Cotton Silk Saree sc09</p>
  </div>
</div>

    <img src="/static/sc09_1.jpg" width="350" height="500" class="mr-3" alt="...">
    <img src="/static/sc09_3.jpg" width="350" height="500" class="mr-3" alt="...">
    <img src="/static/sc09_2.jpg" width="350" height="500" class="mr-3" alt="...">
<br>
<br>
<table class="table table-striped">
  <thead>
    <tr>
        <th scope="col"><h4>Product Description</h4></th>
        <td></td>
    </tr>
  </thead>
  <tbody>
  <tr>
      <th scope="row">Product Code</th>
      <td>sc09</td>
    </tr>
    <tr>
      <th scope="row">Style Code</th>
      <td>Banarasi Cotton</td>
    </tr>
    <tr>
      <th scope="row">Pattern</th>
      <td>Printed</td>
    </tr>
    <tr>
      <th scope="row">Pack Of</th>
      <td>1</td>
    </tr>
    <tr>
      <th scope="row">Occasion</th>
      <td>Casual/Wedding</td>
    </tr>
    <tr>
      <th scope="row">Price</th>
      <td>265/-</td>
    </tr>
        <tr>
      <th scope="row">Fabric Care</th>
      <td>Dry clean only</td>
    </tr>
        <tr>
      <th scope="row">Fabric</th>
      <td>Cotton blend</td>
    </tr>
      <tr>
      <th scope="row">Type</th>
      <td>Banarasi</td>
    </tr>
    <tr>
      <th scope="row">Blouse Piece</th>
      <td>Unstitched</td>
    </tr>
  </tbody>
</table>
{% endblock body %}
